In [6]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd

# pandas 데이터 구조-series
- 인덱스와 값만 있고 <b>컬럼명이 없음<b>
- DataFrame의 각 컬럼은 모두 Series

In [5]:
# 리스트 -> series데이터 생성하기
# 리스트는 이미 존재하는 인덱스 번호를 인덱스로 사용
sd1 = pd.Series(["Doc", "Cat", "Tiger", "Lion", "Monkey"],
               index = [0,1,2,3,4])
sd1

0       Doc
1       Cat
2     Tiger
3      Lion
4    Monkey
dtype: object

In [11]:
# dict -> series
# dict의 key값을 인덱스로 사용
dict_data = {0:"Doc", 11:"Cat", 2:"Tiger", 3:"Lion", 4:"Monkey"}
sd2 = pd.Series(dict_data)
print("type: ", type(sd2))

type:  <class 'pandas.core.series.Series'>

In [12]:
list_data = ["Dog", "Cat", "Tiger"]
sd3 = pd.Series(list_data)
sd3

0      Dog
1      Cat
2    Tiger
dtype: object

In [15]:
# tuple -> series
# 리스트와 마찬가지로, tuple 자체가 가진 인덱스를 그대로 사용
tup_data = ("Dog", "Cat", "Tiger")

sd4 = pd.Series(tup_data)
sd4

0      Dog
1      Cat
2    Tiger
dtype: object

# DataFrame 생성하기

In [17]:
# dictionary -> df
# key = df의 컬럼명
# value = 리스트
# 모든 value값들의 개수가 동일해야함
dict_data = {"동물": ["Dog", "Cat", "Tiger", "Lion", "Monkey"],
            "나이": [7,9,2,3,1]}
df1 = pd.DataFrame(dict_data)
df1

       동물  나이
0     Dog   7
1     Cat   9
2   Tiger   2
3    Lion   3
4  Monkey   1

In [19]:
# 리스트 -> df
# 2차원 리스트로 만들어야함
list_data = [["Dog", 7], 
             ["Cat", 9], 
             ["Tiger", 2], 
             ["Lion", 3], 
             ["Monkey", 1]]
df2 = pd.DataFrame(list_data)
df2

        0  1
0     Dog  7
1     Cat  9
2   Tiger  2
3    Lion  3
4  Monkey  1

In [20]:
data_list =["Dog", 7]
col_name = ["동물", "나이"]
df2 = pd.DataFrame([data_list], columns=col_name)
df2

    동물  나이
0  Dog   7