# 변수와 연산자
## 코드 실행 방법1 : ctrl + Enter
### 코드 실행 방법2: shift + Enter --> 현재 셀 실행후 다음 셀로 이동

#### 코드 실행 방법3: alt + Enter --> 현재 셀 실행후 밑에 셀 생성

In [6]:
# 변수 이름 정의
# 오른쪽의 값을 왼쪽의 이름(메모리공간)에 저장
my_age = 22

In [8]:
print(my_age)

22

In [9]:
my_height = 177
print(my_height)

177

In [11]:
# 연산
my_age + my_height
# 각 메모리 공간에 있는 값을 불러와서 cpu가 연산

199

In [13]:
tot = my_age + my_height
print(tot)

199

In [14]:
### 여러 값 출력
print(my_age, my_height, tot)

22 177 199

In [16]:
### 데이터 타입
# int : 정수, 소수점이 없는 값
# float: 소수점이 있는 값
# str : 문자, 값이 ""나 ''로 감싸진 것

In [38]:
name = "홍길동"
name_age = "25"
name_height = "185"
print(name, name_age, name_height)

홍길동 25 185

In [23]:
### 타입 변경: str --> int
my_age + int(name_age)

47

In [24]:
### 타입 변경: int --> str
str(my_age) + name_age

'2225'

In [36]:
### 산술 연산자
# + - * / // %
a = 6
b = 4
tot = a + b
tot = a - b
tot = a * b
tot = a / b
# // : 나눈 몫
tot = a // b
print(tot)
tot = a % b
print(tot)

1
2

In [45]:
print(name)
"""
문자열의 경우 문자 개수만큼의 메모리공간 생성
전체 메모리 공간에 주소 할당
각 문자에 index 할당 --> 배열 인덱싱으로 각 값 추출 가능
"""
print(name[0])

홍길동
홍

In [49]:
"""
[장문의 주석은 큰따옴표 3쌍]
조건연산자 : 크다(>), 작다(<), 같다(==), 같지않다(!=), 크거나같다(>=), 작거나 같다(<=)
조건연산자는 항상 값 기준으로 비교
"""
print(a, b, tot)

6 4 2

In [52]:
# True = 1, Flase = 0
a > b

True

In [55]:
a >= b

True

In [56]:
a != b

True

In [60]:
### 조건문(선택문)
if a > b:
    print("큽니다")
else:
    print("작습니다")

큽니다

In [64]:
if a < b:
    print("큽니다")
elif a == b:
    print("같습니다")
else:
    print("b가 a보다 작습니다")
# 조건에 맞는게 없으면 else 무조건 실행

b가 a보다 작습니다

In [65]:
if a < b:
    print("큽니다")
elif a == b:
    print("같습니다")
# else가 없을때 조건에 맞는게 없으면 끝

In [68]:
a = 10
b = 5
name1 = "홍길동1"
name2 = "홍길동2"
if a < b:
    if name1 == "홍길동1":
        print("홍길동1 입니다")
    else:
        print("해당 이름이 없습니다")
else:
    if name2 == "홍길동2":
        print(name2, "입니다")
    else:
        print("해당 이름이 없습니다")

홍길동2 입니다

In [73]:
### [문제]
# - 남자인지 여자인지 출력
jumin = "000128-3******"

if int(jumin[7]) % 2 == 0:
    print("female")
else:
    print("male")

male

In [1]:
jumin = int(input("주민번호 뒷자리"))
num = jumin // 1000000
if num % 2 == 0:
    print("female")
else:
    print("male")

주민번호 뒷자리3815017
male

In [8]:
# .format(): 특정 중괄호 위치에 값 넣기 
name = "홍길동"
age = 20
print("나의 이름은 {0}이고, 나이는 {0}입니다.".format(name, age))

나의 이름은 홍길동이고, 나이는 홍길동입니다.

In [18]:
yyyy = 2023
mm = 1
dd = 3
"{0}-{1}-{2}".format(yyyy, mm, dd)

'2023-1-3'

In [24]:
# 중괄호 내부에 format인자 인덱스 넣을때 모든 중괄호에 인덱스 넣어야함
"{0}-{1}-{2}, {0}/{1}/{2}, {0}.{1}.{2}".format(yyyy, mm, dd)

'2023-1-3, 2023/1/3, 2023.1.3'

In [25]:
### 숫자의 범위 함수
# 첫번째값: 시작값
# 두번째값: 끝값(끝값 - 1까지 표현)
# 세번째값: 증가값
print(range(1, 101, 1))

range(1, 101)

In [ ]:
### 반복문: 지정된 범위까지 반복하기(시작부터 끝까지)
# for, while
# for: 시작부터 끝까지의 범위가 지정되어야 함
# while: 무한반복할때 주로 사용(기본 반복은 for문과 동일)

In [32]:
# 1~100까지 반복하면서 값 출력하기
for i in range(1, 101, 1):
    print("{}번째 출력".format(i))

1번째 출력
2번째 출력
3번째 출력
4번째 출력
5번째 출력
6번째 출력
7번째 출력
8번째 출력
9번째 출력
10번째 출력
11번째 출력
12번째 출력
13번째 출력
14번째 출력
15번째 출력
16번째 출력
17번째 출력
18번째 출력
19번째 출력
20번째 출력
21번째 출력
22번째 출력
23번째 출력
24번째 출력
25번째 출력
26번째 출력
27번째 출력
28번째 출력
29번째 출력
30번째 출력
31번째 출력
32번째 출력
33번째 출력
34번째 출력
35번째 출력
36번째 출력
37번째 출력
38번째 출력
39번째 출력
40번째 출력
41번째 출력
42번째 출력
43번째 출력
44번째 출력
45번째 출력
46번째 출력
47번째 출력
48번째 출력
49번째 출력
50번째 출력
51번째 출력
52번째 출력
53번째 출력
54번째 출력
55번째 출력
56번째 출력
57번째 출력
58번째 출력
59번째 출력
60번째 출력
61번째 출력
62번째 출력
63번째 출력
64번째 출력
65번째 출력
66번째 출력
67번째 출력
68번째 출력
69번째 출력
70번째 출력
71번째 출력
72번째 출력
73번째 출력
74번째 출력
75번째 출력
76번째 출력
77번째 출력
78번째 출력
79번째 출력
80번째 출력
81번째 출력
82번째 출력
83번째 출력
84번째 출력
85번째 출력
86번째 출력
87번째 출력
88번째 출력
89번째 출력
90번째 출력
91번째 출력
92번째 출력
93번째 출력
94번째 출력
95번째 출력
96번째 출력
97번째 출력
98번째 출력
99번째 출력
100번째 출력

In [42]:
i = 0
while i <= 10:
    i+=1
    print("{}번째 while처리".format(i))

1번째 while처리
2번째 while처리
3번째 while처리
4번째 while처리
5번째 while처리
6번째 while처리
7번째 while처리
8번째 while처리
9번째 while처리
10번째 while처리
11번째 while처리

In [48]:
i = 0
while True:
    print("{}무한루프".format(i))
    i += 1
    if i == 10:
        print("브레이끼!!")
        break

0무한루프
1무한루프
2무한루프
3무한루프
4무한루프
5무한루프
6무한루프
7무한루프
8무한루프
9무한루프
브레이끼!!

In [47]:
i = 0
while True:
    i += 1
    print("{}무한루프".format(i))
    if i == 10:
        break

1무한루프
2무한루프
3무한루프
4무한루프
5무한루프
6무한루프
7무한루프
8무한루프
9무한루프
10무한루프

### continue: 반복 건너뛰기
- 조건 충족시 continue아래 코드 실행 안하고 다시 반복
### break: 반복 종료

In [1]:
for i in range(0, 101, 1):
    if i <= 50:
        continue
    elif i == 60:
        break
    print("{}번째".format(i))

51번째
52번째
53번째
54번째
55번째
56번째
57번째
58번째
59번째

In [1]:
### [문제]
# 0부터 100까지의 범위에서 짝수의 총합 출력
i = 0
j = 0
while i <101:
    i += 2
    
    if i > 100:
        break
    j += i
print(j)

2550

In [2]:
j = 0
for i in range(0, 101):
    if i % 2 == 0:
        j += i
#         print("i={}, j={}".format(i,j))
print(j)

2550

### zfill(문자열 길이)
- 문자열 길이에서 공백을 왼쪽부터 0으로 채움

In [5]:
### 빈 공간에 0값 넣기
"1".zfill(5)

'00001'

In [3]:
ss = "lellamarz"
ss.zfill(10)

'0lellamarz'

In [7]:
y = 2023
m = 1
d = 3
print("{}-{}-{}".format(y, str(m).zfill(2), str(d).zfill(2)))

2023-01-03

In [9]:
###[문제]
# 2010년 1월부터 2022년 12월까지 년-월(0000-00) 출력
for i in range(2010, 2023):
    for j in range(1, 13):
        print("{}-{}".format(i, str(j).zfill(2)))

2010-01
2010-02
2010-03
2010-04
2010-05
2010-06
2010-07
2010-08
2010-09
2010-10
2010-11
2010-12
2011-01
2011-02
2011-03
2011-04
2011-05
2011-06
2011-07
2011-08
2011-09
2011-10
2011-11
2011-12
2012-01
2012-02
2012-03
2012-04
2012-05
2012-06
2012-07
2012-08
2012-09
2012-10
2012-11
2012-12
2013-01
2013-02
2013-03
2013-04
2013-05
2013-06
2013-07
2013-08
2013-09
2013-10
2013-11
2013-12
2014-01
2014-02
2014-03
2014-04
2014-05
2014-06
2014-07
2014-08
2014-09
2014-10
2014-11
2014-12
2015-01
2015-02
2015-03
2015-04
2015-05
2015-06
2015-07
2015-08
2015-09
2015-10
2015-11
2015-12
2016-01
2016-02
2016-03
2016-04
2016-05
2016-06
2016-07
2016-08
2016-09
2016-10
2016-11
2016-12
2017-01
2017-02
2017-03
2017-04
2017-05
2017-06
2017-07
2017-08
2017-09
2017-10
2017-11
2017-12
2018-01
2018-02
2018-03
2018-04
2018-05
2018-06
2018-07
2018-08
2018-09
2018-10
2018-11
2018-12
2019-01
2019-02
2019-03
2019-04
2019-05
2019-06
2019-07
2019-08
2019-09
2019-10
2019-11
2019-12
2020-01
2020-02
2020-03
2020-04
2020-05
2020-06
2020-07
2020-08
2020-09
2020-10
2020-11
2020-12
2021-01
2021-02
2021-03
2021-04
2021-05
2021-06
2021-07
2021-08
2021-09
2021-10
2021-11
2021-12
2022-01
2022-02
2022-03
2022-04
2022-05
2022-06
2022-07
2022-08
2022-09
2022-10
2022-11
2022-12

In [15]:
###[문제]
# 2010년 1월부터 2022년 12월까지 년-월(0000-00) 출력
# 단, 짝수 년도와 짝수 월에 대해서만 출력
for i in range(2010, 2023, 2):
    for j in range(2, 13, 2):
        print("{}-{}".format(i, str(j).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

In [18]:
for i in range(2010, 2023):
    if (i%2 != 0):
        continue
    for j in range(1, 13):
        if (j%2 == 0):
            print("{}-{}".format(i, str(j).zfill(2)))

2010-02
2010-04
2010-06
2010-08
2010-10
2010-12
2012-02
2012-04
2012-06
2012-08
2012-10
2012-12
2014-02
2014-04
2014-06
2014-08
2014-10
2014-12
2016-02
2016-04
2016-06
2016-08
2016-10
2016-12
2018-02
2018-04
2018-06
2018-08
2018-10
2018-12
2020-02
2020-04
2020-06
2020-08
2020-10
2020-12
2022-02
2022-04
2022-06
2022-08
2022-10
2022-12

### 다중 for문 활용시 항상 시간복잡도 고려해야함

In [27]:
message = "안녕하세요. 파이썬 입니다."
# for문으로 message문자열의 하나 하나의 값을 출력
for i in range(0, len(message)):
    print(message[i])

안
녕
하
세
요
.

파
이
썬

입
니
다
.

### replace(바꿀 값, 대체 값)

In [32]:
### 문자열 값 변환
message_new = message.replace(" ", "")
print(message,"\n", message_new)

안녕하세요. 파이썬 입니다.
 안녕하세요.파이썬입니다.

# 리스트[]

In [4]:
# 리스트 변수 생성하기
# 리스트는 리스트 길이만큼의 메모리 공간에 각 값들이 들어감
# 문자열도 하나의 공간안에 값으로 저장됨
n_list = [11, 22, 33, 44, 55, 66, "a", "b", "abc", 1.2, 1.3]
print(n_list, n_list[2])
print(n_list[8][0])

[11, 22, 33, 44, 55, 66, 'a', 'b', 'abc', 1.2, 1.3] 33
a

### append(): 리스트에 값 추가

In [44]:
n_list.append("추가")
print(n_list)

[11, 22, 33, 44, 55, 66, 'a', 'b', 'abc', 1.2, 1.3, '추가']

In [5]:
"avc".append("ddd")

AttributeError: 'str' object has no attribute 'append'

## for문을 사용하는 방식 1
: 인덱스 값을 이용하는 방식

In [45]:
for i in range(0, len(n_list)):
    print(n_list[i])

11
22
33
44
55
66
a
b
abc
1.2
1.3
추가

## for문을 사용하는 방식 2
: 리스트 내에 있는 값을 이용하는 방식

In [46]:
for val in n_list:
    print(val)

11
22
33
44
55
66
a
b
abc
1.2
1.3
추가

In [52]:
# [문제]
# a_list의 값들 중 짝수인 것들만 temp_listdp 넣기
# 마지막에 temp_list값 출력
a_list = [10, 23, 30, 45, 50, 60, 70, 80, 90, 100]
temp_list = []

for num in a_list:
    if num%2==0:
        temp_list.append(num)
print(temp_list)

[10, 30, 50, 60, 70, 80, 90, 100]

In [53]:
a_list = [10, 23, 30, 45, 50, 60, 70, 80, 90, 100]
temp_list = []
for i in range(0, len(a_list), 1):
    if a_list[i]%2==0:
        num = a_list[i]
        temp_list.append(num)
print(temp_list)

[10, 30, 50, 60, 70, 80, 90, 100]

In [61]:
print(a_list + temp_list)
# 산술 연산 아님
# print(a_list - temp_list) --> TypeError
# print(a_list / temp_list) --> TypeError
# print(a_list * temp_list) --> TypeError
print(a_list * 2)
# a_list를 2번 반복
# print(a_list - 2)

[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 30, 50, 60, 70, 80, 90, 100]
[10, 23, 30, 45, 50, 60, 70, 80, 90, 100, 10, 23, 30, 45, 50, 60, 70, 80, 90, 100]

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [71]:
new_list = ["ㅎㄱㄷ", 24, ["부산", "부산진구", "대연동", 124, ["010-1234-5678"]]]
temp_list = []
for val in new_list:
    if type(val) == list:
        for i in val:
            if type(i) == list:
                for j in i:
                    temp_list.append(j)
            else:
                temp_list.append(i)
    else:
        temp_list.append(val)
print(temp_list)

TypeError: can only concatenate list (not "str") to list

In [65]:
a_list = [[1, 2, 3, 4, 5],
         ['a', 'b', 'c', 'd', 'e'],
         ['홍', '김', '이', '최', '박']]
temp_list = []
for val in a_list:
    for x in val:
        temp_list.append(x)
print(temp_list)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', '홍', '김', '이', '최', '박']

# dictionary{}
- {key: value, key: value, ...}
- 키로 값 추출
- 순서 없음
- 가상 메모리 내부에 각 key-value 공간 할당
- dictionary[key]: 해당 key의 value에 접근
- dictionary[key][value index]: 해당 key의 value list의 index에 해당하는 값에 접근
- 값 추가: dictionary[new key] = new value

In [109]:
person = {"이름":"홍길동", 
         "나이":20,
         "주소":"부산 대연동 768",
         1 : "정수값"}
person[1] = "숫자"
print(person[1])

숫자

## key 추출
### .keys(): key값들의 리스트

In [81]:
person.keys()

dict_keys(['이름', '나이', '주소', 1])

## value 추출
### .values(): value값들의 리스트

In [82]:
person.values()

dict_values(['홍길동', 20, '부산 대연동 768', '정수값'])

## 둘다 추출
### .items(): (key, value) tuple의 리스트

In [88]:
person.items()

dict_items([('이름', '홍길동'), ('나이', 20), ('주소', '부산 대연동 768'), (1, '정수값')])

In [98]:
list_1 = ['a', 'b', 'c', 'd', 'e', 'f']
list_2 = [1, 2, 3, 4, 5, 6]
dict_1 = {
    1: list_1,
    2: list_2
}     
print(dict_1.values())

dict_values([['a', 'b', 'c', 'd', 'e', 'f'], [1, 2, 3, 4, 5, 6]])

In [104]:
temp_list = []
for val in dict_1.values():
    for i in val:
        temp_list.append(i)
print(temp_list)

['a', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [105]:
temp_list[0] = 'z'
temp_list

['z', 'b', 'c', 'd', 'e', 'f', 1, 2, 3, 4, 5, 6]

In [119]:
dict_1[1][0] = 'z'
dict_1[3] = "value"
dict_1

{1: ['z', 'b', 'c', 'd', 'e', 'f'], 2: [1, 2, 3, 4, 5, 6], 3: 'value'}

# 함수
### 함수 작명
- get...(): 값 가져올때
- set...(): 값 저장할때
- 매개변수: 함수를 호출하는 쪽에서 넘겨주는 값을 받을 변수

### (lambda 매개변수: 표현식)(넘길 값)

In [121]:
def getHap(p_a, p_b):
    return p_a + p_b

getHap(1, 2)

3

In [124]:
(lambda p_a, p_b: p_a + p_b)(1, 2)

3

In [130]:
def getMath(p_a, p_b, mode="+"):
    if mode == "+":
        result = p_a + p_b
    elif mode == "-":
        result = p_a - p_b
    elif mode == "*":
        result = p_a * p_b
    elif mode == "/":
        result = p_a - p_b
    return result
# result: 전역변수

getMath(1, 2, "-")

-1

In [1]:
def gugudan(dan):
    gugu = []
    if dan == 0:
        for i in range(1, 10):
            gugu.append(gugudan(i))
    else:
        for i in range(1, 10):
            gugu.append(dan * i)
            
    return gugu

gugudan(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [157]:
def gugudan2(dan):
    start_dan = dan
    end_dan = dan + 1
    
    if dan == 0:
        start_dan = 2
        end_dan = 10
        
    for i in range(start_dan, end_dan):
        for j in range(1, 10):
            print("{} X {} = {}".format(i, j, i * j))
            
gugudan2(0)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# class
- .: 접근 지정자, 생성된 개체가 class가있는 가상 메모리에 접근
- self.~: 멤버변수, class내 전역변수 역할

In [10]:
class MathClass:
    def getHap(self, num1, num2):
        s = num1 + num2
        return s
    def getMinus(self, num1, num2):
        s = num1 - num2
        return s
    def getGop(self, num1, num2):
        s = num1 * num2
        return s
    def getDiv(self, num1, num2):
        s = num1 / num2
        return s
    def getNamuge(self, num1, num2):
        s = num1 % num2
        return s

In [15]:
cal = MathClass()
print(cal.getGop(1, 2))
print(cal.getNamuge(2, 4))
cal.getHap(11, 3)

2
2

14

In [1]:
import cs_module as cs

x, y = map(int, input().split())
uu = cs.User_Util(x, y)
print(uu.a, uu.b, uu.getPlus())

1 2
1 2 3

# 패키지 접근
- 패키지: 모듈들을 폴더 단위로 관리
### from 폴더명 import 모듈명 as 축약어

In [3]:
from utils import fn_module as fn
fn_util = fn.User_Util(1, 2)
fn_util.getPlus()

3