In [3]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np
tips = sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
# 전체 컬럼별 개수: count()
tips.count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

# 특정 컬럼.value_counts()
- 특정 컬럼의 데이터 범주(category)별 개수

In [6]:
tips["sex"].value_counts()

Male      157
Female     87
Name: sex, dtype: int64

# pd.crosstab(컬럼1, 컬럼2)
- 컬럼 1, 컬럼2 교차 빈도
- margins=True: 각 컬럼에 대한 행 별 전체 값 표시

In [8]:
# 교차 빈도 분석
pd.crosstab(tips["sex"], tips["day"])

day     Thur  Fri  Sat  Sun
sex
Male      30   10   59   58
Female    32    9   28   18

In [9]:
# 교차 빈도표에 전체값 표시
pd.crosstab(tips["sex"], tips["day"], margins=True)

day     Thur  Fri  Sat  Sun  All
sex
Male      30   10   59   58  157
Female    32    9   28   18   87
All       62   19   87   76  244

# lambda 사용
: .apply(lambda 매개변수: 표현식, ...)안에 작성

In [12]:
# 퍼센트로 나타내기
pd.crosstab(tips["sex"], tips["day"]).apply(
    lambda r: r/len(tips), axis=1
)

day         Thur       Fri       Sat       Sun
sex
Male    0.122951  0.040984  0.241803  0.237705
Female  0.131148  0.036885  0.114754  0.073770